.content {
    width: calc(100% - 180px);
    height:calc(100vh - 48px);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: #eceef1;
}
.inner__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
}
.content__header {
    padding: 24px 30px 6px 0;
    position: absolute;
    top: 0;
    z-index: 3;
    align-items: center;
    background: #eceef1;
    transition: top .25s;   
    width: calc(100% - 10px); 
}
.header__button__list {
    display: flex;
    align-items: center;
}
.content__header__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__title {
    font-size: 24px;
    font-weight: 700;
    color: #111;
}

.dir {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dir a {
    text-decoration: none;
    color: #0075c0;
}


/*Content Body*/
.content__body {
    padding: 83px 30px 0 0;
    overflow: auto;
    /* scroll-behavior: smooth; */
    position: relative;
    flex: 1;
    min-height: 0;
}
.content__body__options {
    background: #fff;
    padding: 16px;
    position: relative;
    margin-top: 20px;
    z-index: 6;
}
.content__body__option {
    padding-bottom: 16px;
}
.content__body__option,
.content__body__option-right {
    display: flex;
    align-items: center;
}
.content__body__option-left {
    flex: 1;
}
.center__body__option-center-item {
    margin-right: 8px;
}
.center__body__option-right-item {
    margin: 0 6px;
}

.content__body__table {
    min-width: 100%;
}

.center__body__option-left-item button 
{
    position: relative;
}
.center__body__option-left-item .list-option 
{
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background: #fff;
    padding: 2px 1px;
    border-radius: 2px;
    border: 1px solid #babec5;
    margin: 0;
   
}
.center__body__option-left-item .item-option 
{
    white-space: nowrap;
    transition: all .2s ease;
    position: relative;
    text-align: left;
    width: 100%;
    list-style: none;
    min-width: 100px;
    font-weight: 400!important;
    font-size: 13px
}
.center__body__option-left-item .link-option
{
    color: #333;
    cursor: pointer;
    transition: all .2s ease;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: relative;
    display: block;
    color: rgba(0,0,0,.7);
}
.link-option:hover
{
    background-color:#c1c5ca;
    color: #fff;
}